g2ps/
conf/
../../../tools/activate_python.sh
../../../tools/setup_cuda_env.sh
../asr1/conf/lang.conf
../asr1/test_transformer_ctc.sh
../asr1/train_transformer_ctc_cross_rgm3.sh
../../../tools/activate_python.sh
../../../tools/setup_cuda_env.sh

../asr1-leave-mandarin-out/
../asr1/.ipynb_checkpoints/
../asr1/check_weight_snap.ipynb
../asr1/conf/train_transformer_ctconly_rgm3_run_k1_lmd_0.001.yaml
../asr1/conf/train_transformer_ctconly_rgm3_run_k1_lmd_0.01.yaml
../asr1/conf/train_transformer_ctconly_rgm3_run_k1_lmd_0.01_e3.yaml
../asr1/conf/train_transformer_ctconly_rgm3_run_k1_lmd_0.01_e3_lf.yaml
../asr1/conf/train_transformer_ctconly_rgm3_run_k1_lmd_0.05_e3.yaml
../asr1/conf/train_transformer_ctconly_rgm3_run_k4_lmd_0.1.yaml
../asr1/srilm-1.7.3.tar.gz
../asr1/train_transformer_ctc_cross.sh
../../../espnet/asr/asr_utils_rgm3_2s.py
../../../espnet/asr/pytorch_backend/asr_rgm3_2s.py
../../../espnet/nets/pytorch_backend/e2e_asr_transformer_rgm3_2s.py
../../../tools/anaconda/
../../../tools/ctcdecode/


